.skillIcons {
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
  }
  
  .skillIcons svg {
    width: 60px;
    height: 60px;
  }

  .aboutHeaders {
      font-weight: 700;
  }

  .spanHeader {
      color: rgb(232, 93, 4);
  }

  .iconDiv {
    position: relative;
    margin: 5px;
  }

  .resumeButton {
    box-shadow: 0 12px 20px rgba(0,0,0,.35) !important;
    font-weight: 600;
  }

  .resumeButton span {
    margin: 5px;
  }

  .iconSubtitle {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 500 !important;
    font-size: 1rem;
  }