.navbar-item {
  background-color: rgb(119, 56, 56) !important;
  /* margin-left: 5px;
  margin-right: 5px; */
  color: rgb(145, 177, 226) !important;
}

a .is-active:active {
  background-color: white !important;
  color: rgb(145, 177, 226) !important;
}
