.navbar {
  background-color: transparent !important;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: rgb(145, 177, 226) !important;
}

.lastName {
  color: rgb(232, 93, 4) !important;
}

.logo .navbar-item {
  font-family: Merriweather;
  color: rgb(198, 46, 66) !important;
}

.navbar .navbar-end .navbar-item a {
  color: rgb(232, 93, 4);
  font-weight: 700 !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  padding: 15px 20px;
  position: relative;
}
.navbar .navbar-end .active a {
  color:rgb(198, 46, 66) !important;
  position: relative;
  text-decoration: none;
}
.navbar .navbar-end .active a:after {
  content: "";
  width: 100% !important;
  position: absolute !important;
  display: block !important;
  left: 0 !important;
  bottom: 1px  !important;
  color: rgb(198, 46, 66) !important;
  border-width: 0 0 1px !important;
  border-style: solid !important;
}

.navbar .navbar-end .navbar-item a:hover {
  color: rgb(232, 93, 4);
}

.navbar .navbar-end .navbar-item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(232, 93, 4);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar .navbar-end .navbar-item a:hover:after { 
  width: 100%; 
  left: 0; 
}

