.gridContainer {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.gridContainer .column figure img {
    border-radius: 15px;
    border: 1px black solid;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.gridContainer .column figcaption {
    text-align: center;
    font-family: 'Merriweather', serif !important;
    font-weight: 900;
}

.portfolioHeader {
    font-weight: 900;
}