.gridContainer {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.gridContainer .column figure img {
  position: relative;
  border-radius: 15px;
  border: 1px black solid;
  z-index: 4;
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.gridContainer .column figcaption {
  text-align: center;
  color: white;
  position: absolute;
  text-align: center !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  font-family: "Merriweather", serif !important;
  font-weight: 900;
}

.gridContainer .column figure .gitHub {
  position: absolute;
  bottom: 10%;
  left: 15%;
  z-index: 5;
}
.gridContainer .column figure .liveSite {
  position: absolute;
  bottom: 10%;
  right: 15%;
  z-index: 5;
}

.portfolioHeader {
  font-weight: 900;
}

.gridContainer .column figure {
  position: relative;
}

.gridContainer .column figure .overlay {
  background-color: #141c3a;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

