.gridContainer {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.gridContainer .column figure img {
  position: relative;
  border-radius: 15px;
  border: 1px black solid;
  z-index: 4;
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: 0.25s ease-in-out;
}

.gridContainer .column figcaption {
  text-align: center;
  color: white;
  position: absolute;
  text-align: center !important;
  top: 10%;
  left: 0;
  right: 0;
  font-family: "Merriweather", serif !important;
  font-weight: 900;
  opacity: 1;
  transition: 0.45s ease-in-out;
  z-index: 9;
}

.gridContainer .column figure .gitHub {
  position: absolute;
  bottom: 10%;
  left: 15%;
  opacity: 1;
  z-index: 9;
}
.gridContainer .column figure .liveSite {
  position: absolute;
  background: none;
  border: 2px solid white !important;
  border-radius: 10px;
  color: white;
  letter-spacing: 1.5px;
  bottom: 10%;
  right: 15%;
  opacity: 1;
  z-index: 9;
}

.portfolioHeader {
  font-weight: 900;
}

.gridContainer .column figure {
  position: relative;
}

.gridContainer .column figure .overlay {
  background-color: #141c3a;
  position: absolute;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  opacity: 0.9;
  visibility: visible;
  z-index: 8;
  transition: 0.45s ease-in-out;
}
.gridContainer .column figure .overlay:hover {
  opacity: 0.9;
}
.figureWrapper .animatedDescription {
  position: absolute;
  color: white;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  z-index: 9;
}