.socialIcons {
  font-size: 80px;
  height: 80px;
  width: auto;
  margin: 10px;
  color: white;
}

.socialIcons:hover {
  color: rgb(198, 46, 66);
}


.mainHeader {
  width: 100%;
}

.info {
  text-align: center;
}
.info h1 {
  color: white;
  font-weight: 700;
}
.photo {
  text-align: center !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 100%);
}
