.mainHeading {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
}

.subHeading {
  font-size: 25px;
  font-weight: 300;
}

.resume {
  display: inline-block;
}

.icons {
  display: inline-block;
  background-color: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  font-size: 30px;
}

.sidebar {
  background-color: #0d0221 !important;
  color: #a6cfd5 !important;
  text-align: center;
  min-height: 100%;
  padding: 100px, 20px, 100px, 20px;
}

.photo {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50% !important;
}

.welcome {
  background-color: burlywood;
}

.socialIcons {
  font-size: 30px;
  height: 50px;
  width: auto;
}

.socialIcons:hover {
  transform:scale(1.2);
  color: #fff;
}

/* @media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
} */
