.name {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1em;
  }
  
  .titleJob {
    font-size: 18px;
    font-weight: 300;
  }
  
  .icons {
    display: inline-block;
    width: 28px;
    height: 28px;
    color: #888;
    background-color: #eee;
    text-align: center;
    margin: 0 2px;
  }

  .sidebar {
    background-color: rgb(119, 56, 56) !important;
    color: rgb(145, 177, 226) !important;
    text-align: center;
    min-height: 100%;
    padding: 100px, 20px, 100px, 20px;
  }

  .photo {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100%;
  }

  .welcome {
    background-color: burlywood;
  }