/* .mainHeading {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1em;
}

.subHeading {
  font-size: 25px;
  font-weight: 300;
}

.resume {
  display: inline-block;
}

.icons {
  display: inline-block;
  background-color: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 5px;
  font-size: 30px;
}

.sidebar {
  background-color: #0d0221 !important;
  color: #a6cfd5 !important;
  text-align: center;
  min-height: 100%;
  padding: 100px, 20px, 100px, 20px;
}

 */
.socialIcons {
  font-size: 80px;
  height: 80px;
  width: auto;
  margin: 10px;
  color: white;
}

.socialIcons:hover {
  color: rgb(198, 46, 66);
}


.mainHeader {
  width: 100%;
}

.info {
  text-align: center;
}
.info h1 {
  color: rgb(232, 93, 4);
  font-weight: 700;
}
.photo {
  text-align: center !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 100%)
}
