.photo {
    background-color: darkblue;
    min-height: 100%;
}

.mainContent {
    background-color: pink;
    min-height: 100%;
    height: 100%;
}

.full {
    height: 100%;
    min-height: 100%;
}

/* .section {
    padding-bottom: 0 !important;
} */


/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */