

.mainContent {
  background-color: pink;
  min-height: 100%;
  height: 100%;
}

.full {
  height: 100%;
  min-height: 100%;
}



section.personalDetails a i {
  font-size: 14px;
  line-height: 28px;
}

.centerTile {
    justify-content: center;
    margin-top: 40px !important;
}
