body {
  font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  

  height: 100%;
  width: 100%;
}

html {
  background: rgba(0, 0, 0, 0.9) url(./assets/images/background-image2.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat:no-repeat;
  height: min-content;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

