body {
  font-family: 'Open Sans', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  

  height: 100%;
  width: 100%;
}

html {
  background: rgba(0, 0, 0, 0.9) url(./assets/images/background-image2.png);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat:no-repeat;
  height: min-content;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"), url("../src/assets/fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../src/assets/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans"), url("../src/assets/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype");
}